<!DOCTYPE html>
<head>
    <title>
        test
    </title>
    <link href="./styles.css" rel="stylesheet">
</head>
<div style="padding: 2% 5%;width: 60vh;">
<div style="padding:2% 5%;display:flex;flex-direction: column;"
>
    <div class="upper">
        <h1 style="color: black;"> slack</h1>
        <h1 style="color: rgb(77, 80, 82); margin-bottom: 2%">
            Confirm your email address to get started on Slack
        </h1>
        <p style="color:black;">
            once you've confirmed that
            <a href=<%=receiver%> style="text-decoration:auto;cursor:pointer;"><%=receiver%></a>
            is your email address, we'll help you find your Slack workspace or
            create a new one
        </p>
        <p style="color: black;">
            📱<span style="font-weight: 700; color: rgb(77, 80, 82)"
                >From your mobile device,</span
            >
            tap the button below to confirm:
        </p>
        <a href="https://generator-email.herokuapp.com/verified style="cursor:pointer;">
        <button
            class="btn"
            style="
                padding: 2% 4%;
                border-radius: 5px;
                color: white;
                background-color: rgb(46, 176, 122);
                border: none;
                cursor: pointer;
                font-weight: 900;
                margin: 3% 0;
            "
        >
            Confirm Email Address
        </button>
        </a>
        <p style="color:black;">
            if you didn't request this mail,there's nothing to worry about - you
            can safely ignore it.
        </p>
    </div>
</div>
<hr/>
<div>
    <div>
        <p
            style="
                margin: 0;
                text-align: center;
                margin-top: 4%;
                text-align: center;
                color: slategray;
            "
        >
            Made by slack Technologies,Inc
        </p>
        <br />
        <p class="mg" style="margin: 0; text-align: center; color: slategray">
            500 Howard Street | San Fransisco,CA 94105 | United States
        </p>
        <div
            style="
                color: slategray;
                text-align: center;
                margin-top: 2%;
            "
        >
            <a
                style="
                    margin: 0;
                    text-decoration: underline;
                    cursor: pointer;
                    text-align: center;
                    color: slategray;
                    display: inline-block;
                "
                >OurBlog</a
            >
            <a
                style="
                    margin: 0;
                    text-decoration: underline;
                    cursor: pointer;
                    text-align: center;
                    color: slategray;
                    display: inline-block;
                "
                >Email Prefrences</a
            >
            <a
                style="
                    margin: 0;
                    text-decoration: underline;
                    cursor: pointer;
                    text-align: center;
                    color: slategray;
                    display: inline-block;
                "
                >Policies</a
            >
        </div>
    </div>
</div>
</div>
</div>
</html>